<VirtualHost *:80>
        ServerName {{item.var1}}
	ServerAlias {{item.var4}}

        DocumentRoot {{item.var2}}/{{item.var3}}/ROOT/


        # Empecher d'aller dans le repertoire WEB-INF
        <Location /WEB-INF/>
                #AllowOverride None
                deny from all
        </Location>

        # Empecher d'aller dans le repertoire META-INF
        <Location /META-INF/>
                #AllowOverride None
                deny from all
        </Location>

        #Empeche d'aller dans /manager/
        <Location /manager/>
                #AllowOverride None
                deny from all
        </Location>

        DirectoryIndex indexUser.jsp

        <Directory />
                Options  FollowSymLinks ExecCGI
        </Directory>

        JkMount /*.jsf localhost_ajp13
        JkMount /*.jsp localhost_ajp13
        JkMount /*.xhtml localhost_ajp13

        JKMount /stats* localhost_ajp13
        JKMount /admin-stp* localhost_ajp13
        JKMount /vocalmestre* localhost_ajp13
        JKMount /adv* localhost_ajp13

        ExpiresActive On
        ExpiresByType image/* "access plus 1 days"

        <Directory "{{item.var2}}/{{item.var3}}/ROOT/">
                Options  FollowSymLinks
                AllowOverride all
                order allow,deny
                allow from all
        </Directory>

# IP HAproxy dédié ITG

        <IfModule rpaf_module>
                RPAFenable On
                RPAFsethostname Off
                RPAFproxy_ips 10.200.224.77 10.200.224.78
        </IfModule>

</VirtualHost>

