<VirtualHost *:80>
        ServerName {{item.var1}}

        DocumentRoot {{item.var2}}/{{item.var3}}/ROOT/


        DirectoryIndex index.html index.htm index.vxml

        Alias /services/ /mntcvf/web_rw/gv-data/services/
        <Directory /mntcvf/web_rw/gv-data/services/>
               Options FollowSymLinks
               AllowOverride None
               Order allow,deny
               Allow from all
        </Directory>

        <Directory />
                Options FollowSymLinks
        </Directory>

        <Directory {{item.var2}}/{{item.var3}}/ROOT/>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride all
                Order allow,deny
                allow from all
        </Directory>

        ExpiresActive On
             ExpiresDefault "access plus 1 minutes"

        <Location /static>
                ExpiresDefault "access plus 1 hours"
        </Location>

# IP HAproxy dédié ITG
        <IfModule rpaf_module>
                RPAFenable On
                RPAFsethostname Off
                RPAFproxy_ips 10.200.224.77 10.200.224.78
        </IfModule>

</VirtualHost>

