<VirtualHost *:80>
        ServerName {{item.var1}}

        DocumentRoot {{item.var2}}/{{item.var3}}/ROOT/


        #KeepAlive off

        # Empecher d'aller dans le repertoire WEB-INF
        <Location /WEB-INF/>
                #AllowOverride None
                deny from all
        </Location>

        # Empecher d'aller dans le repertoire META-INF
        <Location /META-INF/>
                #AllowOverride None
                deny from all
        </Location>

        #Empeche d'aller dans /manager/
        <Location /manager/>
                #AllowOverride None
                deny from all
        </Location>

        DirectoryIndex index.jsp index.html index.htm

        <Directory />
                Options  FollowSymLinks ExecCGI
        </Directory>

        JkMount /* localhost_ajp13

        <Directory "{{item.var2}}/{{item.var3}}/ROOT/">
                Options  FollowSymLinks
                AllowOverride all
                order allow,deny
                allow from all
        </Directory>

# IP HAproxy dédié ITG
        <IfModule rpaf_module>
                RPAFenable On
                RPAFsethostname Off
                RPAFproxy_ips 10.200.224.77 10.200.224.78
        </IfModule>

</VirtualHost>

